// Primary
$scissors: hsl(39, 89%, 49%);
$scissors2: hsl(40, 84%, 53%);
$paper: hsl(230, 89%, 62%);
$paper2: hsl(230, 89%, 65%);
$rock: hsl(349, 71%, 52%);
$rock2: hsl(349, 70%, 56%);
$lizard: hsl(261, 73%, 60%); //to hsl(261, 72%, 63%)
$cyan: hsl(189, 59%, 53%); //to hsl(189, 58%, 57%)

// Text
$dark: hsl(229, 25%, 31%);
$score: hsl(229, 64%, 46%);
$header: hsl(217, 16%, 45%);

// Background btn
$bg: #e3e3e3;
